*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{    
    width: 100%;
    height: 100%;
    margin: auto 0;
    justify-content: center;
    text-align: left;
    align-items: center;
    display: flex;
}
header{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(218, 218, 218);
}
#container{
    /* 변경: 화면 너비에 따라 조절 */
    width: 100%;
    max-width: 700px; /* 변경: 최대 폭 설정 */
    flex-direction: column;
    margin: auto;
    text-align: left;
    padding: 0; /* 변경: 좀 더 작은 여백 */
    justify-content: center;
    display: flex;
}
.logo, header{
    justify-content: space-between;
    padding: 0 10px;
}
#millennium{
    color: rgb(255, 15, 95);
    font-size: 20px;
    letter-spacing: -1.9px;
    font-weight: 700;
}
#dragon{
    color: rgb(0, 140, 255);
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 500;
}
#ozLogo{
    text-decoration-line: none;
    color: black;
    font-weight: 700;
    height: 2rem;
    width: 2rem;
}
#tfResultList{
    background-color: #FBF2EF;
}
.ul{
    margin-top: 30px;
}
.idLi{
    font-weight: 900px;
    font-size: 22px;
}
.fLi{
    color: #e65050;
    font-size: 20px;
    list-style-type: none;
}
.tLi{
    color: #2955da;
    font-size: 20px;
    list-style-type: none;
}
progress{
    width: 60%;
    height: 10px;
    appearance: none;
    margin: 5px 0;
}
progress::-webkit-progress-bar{
    background-color: white;
}
.fProgressBar::-webkit-progress-value{
    background-color: #F78181;
}
.tProgressBar::-webkit-progress-value{
    background-color: #819FF7;
}