* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.display-title {
    position: relative;
    width: 100%;
    height: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid #D8D8D8;
}

.display-title > p{
    position: absolute;
    top: 20%;
    left: 0px;    
}

.millennium{
    color: rgb(255, 15, 95);
    font-size: 20px;
    letter-spacing: -1.9px;
    font-weight: 700;
}

.dragon{
    color: rgb(0, 140, 255);
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 500;
}

.display-title > a{
    position: absolute;
    top: 20%;
    right: 0px;    
}

#oz-logo{
    height: 3rem;
    width: 3rem;
    padding-bottom: 4px;
}

em.F {
    color: red;
    font-size: 34px;
}

em.T {
    color: blue;
    font-size: 34px;
}
a{
    height: 10px;
}
a.startLink {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

a.ozLink {
    text-decoration: none;
    color: black;
}

div#testPage{
    margin: 30px;
    background-color: white;
}

div#progress-container {
    margin-bottom: 30px;
}

p.introduce {
    margin-bottom: 0;
}

div#container {
    width: 90%; /* 변경: 화면 너비에 따라 조절 */
    max-width: 600px; /* 변경: 최대 폭 설정 */
    display: block;
    margin: auto;
    text-align: center;
    padding: 0 10px; /* 변경: 좀 더 작은 여백 */
}

p#questionCount {
    text-align: right;
    margin-bottom: 0;
}

div#question-container {
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 18px 30px;

}

p#question {
    font-size: 16.5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    word-break: keep-all;
}

button{
    width: 100%;
    margin-bottom: 20px;
    font-size: 17px;
    height: 100%; 
    border-radius: 15px; 
    padding: 20px;
    background-color: rgb(233, 244, 253);
    word-break: keep-all;
    cursor: pointer;
}

button:hover{
    font-size: 18px;
    background-color: pink;
    font-weight: 800;
}
#progress-container{
    position: relative;
}
.progress-bar {
    width: 100%;
    height: 20px;
    appearance: none;
}

#progressText{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px; 
    color: black; 
}
  
.progress-bar::-webkit-progress-bar {
    /* progressbar의 배경이 되는 요소 */
    border-radius: 20px;
    background-color: #f5ebeb;
  }
  
progress::-webkit-progress-value {
    /* progress의 진행 bar가 되는 요소 */
    border-radius: 20px;
    background-color: rgb(255, 171, 171);
  }
.progress-bar.orange-color::-webkit-progress-value {
    background-color:rgb(255, 214, 131);
}

.progress-bar.green-color::-webkit-progress-value {
    background-color: #98FB98;
}